body{
    background-color: #232323;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    transition: background-color 0.45s;
}

button{
    border: none;
    background: none;
    color: steelblue;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    outline: none;
}

button:hover{
    color: white;
    background: steelblue;
}

.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    border-radius: 15%;
    margin:1.66%;
    transition: background-color 0.6s;
}

#displayMessage{
    width: 20%;
    color: steelblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: inherit;
    display: inline-block;
    transition: all 0.2s;
}

#colorDisplay{
    font-size: 200%;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected{
    background-color: steelblue;
    color: white;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #stripe {
      height:50px;
    }
  }